<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-appcenter-analytics-tests"
        version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <dependency id="cordova-plugin-test-framework"/>

    <name>AppCenter tests suite</name>
    <js-module name="tests" src="www/tests.js" />

</plugin>
