<?xml version='1.0' encoding='utf-8'?>
<widget id="com.test.cordovaapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="APPCENTER_ANALYTICS_ENABLE_IN_JS" value="true" />
    <preference name="APPCENTER_CRASHES_ALWAYS_SEND" value="false" />
    <platform name="android">
        <preference name="APP_SECRET" value="paste_android_app_secret_here" />
        <preference name="FIREBASE_SENDER_ID" value="'paste_firebase_sender_id_here'" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <preference name="APP_SECRET" value="paste_ios_app_secret_here" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-file" spec="^4.0.0" />
    <plugin name="cordova-plugin-camera" spec="^3.0.0" />
    <plugin name="cordova-plugin-appcenter-shared" spec="^0.1.5" />
    <plugin name="cordova-plugin-appcenter-analytics" spec="^0.1.5" />
    <plugin name="cordova-plugin-appcenter-crashes" spec="^0.1.5" />
    <engine name="ios" spec="^4.5.4" />
    <engine name="android" spec="^7.0.0" />
</widget>
