<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mobile-center-push"
        version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Mobile Center Push for Cordova</name>
    <description>
        Provides Microsoft Azure Mobile Center Push client for Cordova
    </description>
    <license>Apache 2.0</license> <!-- TODO: refine license -->
    <keywords>microsoft, azure, mobile center, push</keywords>
    <!-- TODO: refine fields below -->
    <!-- <repo>https://github.com/Microsoft/mobile-center-sdk-cordova</repo> -->
    <!-- <issue>https://github.com/Microsoft/mobile-center-sdk-cordova/issues</issue> -->


    <!-- Required gradle functionality support -->
    <engine name="cordova-android" version=">=4.1.0" />
    <!-- Cordova 6.4.0 and iOS 4.3.0 are required for Cocoapods support -->
    <engine name="cordova" version=">=6.4.0" />
    <engine name="cordova-ios" version=">=4.3.0" />

    <dependency id="cordova-plugin-mobile-center-shared"
                subdir="cordova-plugin-mobile-center-shared"
                url="." />

    <js-module name="Push" src="www/Push.js">
        <clobbers target="MobileCenter.Push" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MobileCenterPush">
                <param name="onload" value="true" />
                <param name="android-package"
                       value="com.microsoft.azure.mobile.cordova.MobileCenterPushPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <!-- TODO: check if permission below is needed -->
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <framework src="com.microsoft.azure.mobile:mobile-center-push:0.12.0" />
        <framework src="src/android/MobileCenterPush.gradle"
                   custom="true" type="gradleReference" />

        <source-file src="src/android/MobileCenterPushPlugin.java"
                     target-dir="src/com/microsoft/azure/mobile/cordova" />

        <source-file src="src/android/CordovaPushListener.java"
                     target-dir="src/com/microsoft/azure/mobile/cordova" />

        <source-file src="src/android/PushUtils.java"
                     target-dir="src/com/microsoft/azure/mobile/cordova" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MobileCenterPush">
                <param name="ios-package" value="MobileCenterPushPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>remote-notification</string>
            </array>
        </config-file>

        <config-file target="*-Debug.plist" parent="aps-environment">
            <string>development</string>
        </config-file>

        <config-file target="*-Release.plist" parent="aps-environment">
            <string>production</string>
        </config-file>

        <header-file src="src/ios/MobileCenterPushPlugin.h" />
        <source-file src="src/ios/MobileCenterPushPlugin.m" />

        <header-file src="src/ios/CordovaPushDelegate.h" />
        <source-file src="src/ios/CordovaPushDelegate.m" />

        <header-file src="src/ios/PushUtils.h" />
        <source-file src="src/ios/PushUtils.m" />

        <framework src="MobileCenter/Push" type="podspec" spec="" />
    </platform>
</plugin>
