<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-appcenter-push"
        version="0.5.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>App Center Push for Cordova</name>
    <description>
        Provides Microsoft Azure App Center Push client for Cordova
    </description>
    <license>MIT</license>
    <keywords>microsoft, azure, app center, push</keywords>
    <repo>https://github.com/Microsoft/appcenter-sdk-cordova</repo>
    <issue>https://github.com/Microsoft/appcenter-sdk-cordova/issues</issue>


    <!-- Required gradle functionality support -->
    <engine name="cordova-android" version=">=4.1.0" />
    <!-- Cordova 6.4.0 and iOS 4.3.0 are required for Cocoapods support -->
    <engine name="cordova" version=">=6.4.0" />
    <engine name="cordova-ios" version=">=4.3.0" />

    <dependency id="cordova-plugin-appcenter-shared" version="0.5.1"/>

    <js-module name="Push" src="www/Push.js">
        <clobbers target="AppCenter.Push" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AppCenterPush">
                <param name="onload" value="true" />
                <param name="android-package"
                       value="com.microsoft.azure.mobile.cordova.AppCenterPushPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <!-- TODO: check if permission below is needed -->
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <framework src="com.microsoft.appcenter:appcenter-push:2.4.1" />
        <framework src="src/android/AppCenterPush.gradle"
                   custom="true" type="gradleReference" />

        <source-file src="src/android/AppCenterPushPlugin.java"
                     target-dir="src/com/microsoft/azure/mobile/cordova" />

        <source-file src="src/android/CordovaPushListener.java"
                     target-dir="src/com/microsoft/azure/mobile/cordova" />

        <source-file src="src/android/PushUtils.java"
                     target-dir="src/com/microsoft/azure/mobile/cordova" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AppCenterPush">
                <param name="ios-package" value="AppCenterPushPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>remote-notification</string>
            </array>
        </config-file>

        <config-file target="*-Debug.plist" parent="aps-environment">
            <string>development</string>
        </config-file>

        <config-file target="*-Release.plist" parent="aps-environment">
            <string>production</string>
        </config-file>

        <header-file src="src/ios/AppCenterPushPlugin.h" />
        <source-file src="src/ios/AppCenterPushPlugin.m" />

        <header-file src="src/ios/CordovaPushDelegate.h" />
        <source-file src="src/ios/CordovaPushDelegate.m" />

        <header-file src="src/ios/PushUtils.h" />
        <source-file src="src/ios/PushUtils.m" />

        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="AppCenter/Push" spec="~> 2.5.0" />
            </pods>
        </podspec>

        <framework src="AppCenter/Push" type="podspec" spec="~> 2.5.0" />
    </platform>
</plugin>
