<?xml version="1.0" encoding="utf-8"?>
<plugin
        xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-c-code"
        version="0.0.1">

  <name>C Code</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/CCode.js" target="js/CCode.js"/>

  <js-module src="www/CCode.js" name="CCode">
    <clobbers target="CCode" />
  </js-module>

  <platform name="android">

    <!-- must be the same as APP_PLATFORM in Android.mk  -->
    <edit-config file="AndroidManifest.xml" target="/manifest/uses-sdk" mode="merge">
      <uses-sdk android:minSdkVersion="19" />
    </edit-config>

    <config-file target="app/src/main/res/xml/config.xml" parent="/*">
      <feature name="CCodePlugin">
        <param name="android-package" value="com.microsoft.CCodePlugin"/>
      </feature>
    </config-file>

    <!-- Java plugin API -->
    <source-file src="src/android/CCodePlugin.java" target-dir="app/src/main/java/com/microsoft/"/>
    <source-file src="src/android/CCodeJni.java" target-dir="app/src/main/java/com/microsoft/" />

    <!-- PRODUCTION - comment out source files below for debugging -->
    <!-- Compiled C libraries -->
    <source-file src="src/android/libs/arm64-v8a/libCCode.so" target-dir="app/src/main/jniLibs/arm64-v8a/" />
    <source-file src="src/android/libs/armeabi-v7a/libCCode.so" target-dir="app/src/main/jniLibs/armeabi-v7a/" />
    <source-file src="src/android/libs/x86/libCCode.so" target-dir="app/src/main/jniLibs/x86/" />
    <source-file src="src/android/libs/x86_64/libCCode.so" target-dir="app/src/main/jniLibs/x86_64/" />
    <!-- END PRODUCTION -->

    <!-- DEBUG - these files are not needed for production -->
    <!-- Custom gradle file to setup NDK for debugging -->
    <source-file src="src/android/build-extras.gradle" target-dir="."/>

    <!-- NDK Make file for source references for C debugging -->
    <source-file src="src/android/jni/Android.mk" target-dir="app/src/main/java/c/android/jni/"/>

    <!-- C source files -->
    <source-file src="src/android/jni/CCodeJni.c" target-dir="app/src/main/java/c/android/jni/"/>

    <source-file src="src/common/ccode.h" target-dir="app/src/main/java/c/common/"/>
    <source-file src="src/common/ccode.c" target-dir="app/src/main/java/c/common/"/>

    <!-- <source-file src="src/common/mylib/mylib.h" target-dir="app/src/main/java/c/common/mylib"/>
    <source-file src="src/common/mylib/mylib.c" target-dir="app/src/main/java/c/common/mylib"/>
    <source-file src="src/common/mylib/mycomponent.h" target-dir="app/src/main/java/c/common/mylib"/>
    <source-file src="src/common/mylib/mycomponent.c" target-dir="app/src/main/java/c/common/mylib"/>
    <source-file src="src/common/mylib/parts/mypart.h" target-dir="app/src/main/java/c/common/mylib/parts"/>
    <source-file src="src/common/mylib/parts/mypart.c" target-dir="app/src/main/java/c/common/mylib/parts"/> -->
    <!-- END DEBUG -->

  </platform>

<!-- <platform name="ios"> -->

    <!-- <config-file target="config.xml" parent="/widget"> -->
      <!-- <feature name="CCodePlugin"> -->
        <!-- <param name="ios-package" value="CCodePlugin" /> -->
      <!-- </feature> -->
    <!-- </config-file> -->

    <!-- Objective-C plugin API -->
    <!-- <header-file src="src/ios/CCodePlugin.h" target-dir="CCodePlugin"/> -->
    <!-- <source-file src="src/ios/CCodePlugin.m" target-dir="CCodePlugin"/> -->

    <!-- C source files -->
    <!-- <header-file src="src/ios/c_getArch.h" target-dir="CCodePlugin"/> -->
    <!-- <source-file src="src/ios/c_getArch.c" target-dir="CCodePlugin"/> -->

    <!-- <header-file src="src/common/ccode.h" target-dir="CCodePlugin"/> -->
    <!-- <source-file src="src/common/ccode.c" target-dir="CCodePlugin"/> -->

    <!-- PRODUCTION - comment out source files below for debugging -->
    <!-- Compiled C libraries -->
    <!-- <source-file src="src/ios/libs/libmylib.a" framework="true" /> -->
    <!-- C header files -->
    <!-- <header-file src="src/ios/libs/headers/mylib.h" target-dir="CCodePlugin"/> -->
    <!-- <header-file src="src/ios/libs/headers/mycomponent.h" target-dir="CCodePlugin"/> -->
    <!-- <header-file src="src/ios/libs/headers/mypart.h" target-dir="CCodePlugin"/> -->
    <!-- END PRODUCTION -->

    <!-- DEBUG - these files are not needed for production - comment in for debugging -->
    <!-- C source files -->
    <!--<header-file src="src/common/mylib/mylib.h" target-dir="CCodePlugin"/>-->
    <!--<source-file src="src/common/mylib/mylib.c" target-dir="CCodePlugin"/>-->
    <!--<header-file src="src/common/mylib/mycomponent.h" target-dir="CCodePlugin"/>-->
    <!--<source-file src="src/common/mylib/mycomponent.c" target-dir="CCodePlugin"/>-->
    <!--<header-file src="src/common/mylib/parts/mypart.h" target-dir="CCodePlugin"/>-->
    <!--<source-file src="src/common/mylib/parts/mypart.c" target-dir="CCodePlugin"/>-->
    <!-- END DEBUG -->


  <!-- </platform> -->
</plugin>
